body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:98px;
  width:271px;
  height:18px;
  color:#CCCCCC;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:78px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:135px;
  width:312px;
  height:78px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:235px;
  width:301px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:297px;
  word-wrap:break-word;
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:314px;
  width:116px;
  height:18px;
  color:#CCCCCC;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:199px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:357px;
  width:199px;
  height:199px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:587px;
  width:301px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:297px;
  word-wrap:break-word;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:249px;
  width:65px;
  height:1px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:235px;
  width:350px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:330px;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:618px;
  width:65px;
  height:1px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:604px;
  width:350px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:330px;
  word-wrap:break-word;
}
