body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:826px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:137px;
  width:150px;
  height:150px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:244px;
  width:65px;
  height:1px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:44px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:222px;
  width:350px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:330px;
  word-wrap:break-word;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:456px;
  width:31px;
  height:31px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:497px;
  width:59px;
  height:18px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:370px;
  width:293px;
  height:35px;
  color:#CCCCCC;
  text-align:center;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:456px;
  width:31px;
  height:31px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:497px;
  width:58px;
  height:18px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:376px;
  width:293px;
  height:18px;
  color:#CCCCCC;
  text-align:center;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:187px;
  width:50px;
  height:50px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:455px;
  width:261px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:466px;
  width:16px;
  height:17px;
  font-size:14px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:467px;
  width:131px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
